/* Reset léger */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; background: #000; color: #fff; }

/* Layout global */
.layout{
  display: flex;
  min-height: 100vh;
  background: #000;
}

/* Sidebar */
.sidebar{
  width: 280px;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  border-right: 6px solid #000;
}

.sidebar-top{
  height: 140px;
  border-bottom: 6px solid #000;
  background: #fff;
}

.sidebar-menu{
  display: flex;
  flex-direction: column;
}

.sidebar-link{
  padding: 18px 22px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  border-bottom: 6px solid #000;
  background: #fff;
}

.sidebar-link.active{
  background: #f1d54b; /* jaune */
  font-weight: 700;
}

.sidebar-link:hover{
  background: #f7e37a;
}

/* Bas sidebar (grand blanc comme ton design) */
.sidebar-bottom{
  flex: 1;
  background: #fff;
}

/* Contenu */
.content{
  flex: 1;
  padding: 40px;
  background: #000;
}
.page-title{
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 20px;
}
